{% extends 'layout.html.twig' %}

{% block content %}
    <div id="container">
        <section class="container">
            <h3>Cakes list</h3>
            <div class="row">
                {% for cake in cakes %}
                    <div class="col-sm-3">
                        <a href="{{ path('app_cake_show', {'cakeId': cake.id }) }}">
                            <article class="card">
                                <img class="card-img-top" src="{{ cake.image }}" alt="{{ cake.name }}">
                                <div class="card-body">
                                    <p class="card-text">{{ cake.name }} - {{ cake.price }} €</p>
                                </div>
                            </article>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
